cocome-maven-project/cloud-logic-service/cloud-logic-core-services/src/main/resources/wsdl/IEnterpriseManager_schema7.xsd

<xs:schema xmlns:ns1="http://parameter.plant.application.inventory.tradingsystem.cocome.org" xmlns:ns2="http://plant.application.inventory.tradingsystem.cocome.org/" xmlns:ns3="http://expression.plant.application.inventory.tradingsystem.cocome.org" xmlns:ns4="http://recipe.plant.application.inventory.tradingsystem.cocome.org" xmlns:ns5="http://store.application.inventory.tradingsystem.cocome.org/" xmlns:ns6="http://enterprise.application.inventory.tradingsystem.cocome.org" xmlns:ns7="http://parameter.enterprise.application.inventory.tradingsystem.cocome.org" xmlns:tns="http://enterprise.webservice.logic.cocome.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://enterprise.webservice.logic.cocome.org/">
  <xs:import namespace="http://parameter.plant.application.inventory.tradingsystem.cocome.org" schemaLocation="IEnterpriseManager_schema4.xsd"/>
  <xs:import namespace="http://plant.application.inventory.tradingsystem.cocome.org/" schemaLocation="IEnterpriseManager_schema3.xsd"/>
  <xs:import namespace="http://expression.plant.application.inventory.tradingsystem.cocome.org" schemaLocation="IEnterpriseManager_schema6.xsd"/>
  <xs:import namespace="http://recipe.plant.application.inventory.tradingsystem.cocome.org" schemaLocation="IEnterpriseManager_schema2.xsd"/>
  <xs:import namespace="http://store.application.inventory.tradingsystem.cocome.org/" schemaLocation="IEnterpriseManager_schema1.xsd"/>
  <xs:import namespace="http://enterprise.application.inventory.tradingsystem.cocome.org" schemaLocation="IEnterpriseManager_schema8.xsd"/>
  <xs:import namespace="http://parameter.enterprise.application.inventory.tradingsystem.cocome.org" schemaLocation="IEnterpriseManager_schema5.xsd"/>
  <xs:element name="BooleanCustomProductParameterTO" type="ns7:BooleanCustomProductParameterTO"/>
  <xs:element name="BooleanPlantOperationParameterTO" type="ns1:BooleanPlantOperationParameterTO"/>
  <xs:element name="CustomProductParameterTO" type="ns7:CustomProductParameterTO"/>
  <xs:element name="CustomProductTO" type="ns6:CustomProductTO"/>
  <xs:element name="EnterpriseTO" type="ns5:EnterpriseTO"/>
  <xs:element name="EntryPointInteractionTO" type="ns4:EntryPointInteractionTO"/>
  <xs:element name="EntryPointTO" type="ns4:EntryPointTO"/>
  <xs:element name="ExpressionTO" type="ns3:ExpressionTO"/>
  <xs:element name="IIdentifiableTO" type="ns4:IIdentifiableTO"/>
  <xs:element name="NorminalCustomProductParameterTO" type="ns7:NorminalCustomProductParameterTO"/>
  <xs:element name="NorminalPlantOperationParameterTO" type="ns1:NorminalPlantOperationParameterTO"/>
  <xs:element name="ParameterInteractionTO" type="ns4:ParameterInteractionTO"/>
  <xs:element name="PlantOperationParameterTO" type="ns1:PlantOperationParameterTO"/>
  <xs:element name="PlantOperationTO" type="ns4:PlantOperationTO"/>
  <xs:element name="PlantTO" type="ns2:PlantTO"/>
  <xs:element name="ProductTO" type="ns5:ProductTO"/>
  <xs:element name="ProductWithSupplierTO" type="ns5:ProductWithSupplierTO"/>
  <xs:element name="RecipeTO" type="ns4:RecipeTO"/>
  <xs:element name="StoreTO" type="ns5:StoreTO"/>
  <xs:element name="SupplierTO" type="ns5:SupplierTO"/>
  <xs:element name="createBooleanCustomProductParameter" type="tns:createBooleanCustomProductParameter"/>
  <xs:element name="createBooleanCustomProductParameterResponse" type="tns:createBooleanCustomProductParameterResponse"/>
  <xs:element name="createBooleanPlantOperationParameter" type="tns:createBooleanPlantOperationParameter"/>
  <xs:element name="createBooleanPlantOperationParameterResponse" type="tns:createBooleanPlantOperationParameterResponse"/>
  <xs:element name="createCustomProduct" type="tns:createCustomProduct"/>
  <xs:element name="createCustomProductResponse" type="tns:createCustomProductResponse"/>
  <xs:element name="createEnterprise" type="tns:createEnterprise"/>
  <xs:element name="createEnterpriseResponse" type="tns:createEnterpriseResponse"/>
  <xs:element name="createEntryPoint" type="tns:createEntryPoint"/>
  <xs:element name="createEntryPointInteraction" type="tns:createEntryPointInteraction"/>
  <xs:element name="createEntryPointInteractionResponse" type="tns:createEntryPointInteractionResponse"/>
  <xs:element name="createEntryPointResponse" type="tns:createEntryPointResponse"/>
  <xs:element name="createNorminalCustomProductParameter" type="tns:createNorminalCustomProductParameter"/>
  <xs:element name="createNorminalCustomProductParameterResponse" type="tns:createNorminalCustomProductParameterResponse"/>
  <xs:element name="createNorminalPlantOperationParameter" type="tns:createNorminalPlantOperationParameter"/>
  <xs:element name="createNorminalPlantOperationParameterResponse" type="tns:createNorminalPlantOperationParameterResponse"/>
  <xs:element name="createParameterInteraction" type="tns:createParameterInteraction"/>
  <xs:element name="createParameterInteractionResponse" type="tns:createParameterInteractionResponse"/>
  <xs:element name="createPlant" type="tns:createPlant"/>
  <xs:element name="createPlantOperation" type="tns:createPlantOperation"/>
  <xs:element name="createPlantOperationResponse" type="tns:createPlantOperationResponse"/>
  <xs:element name="createPlantResponse" type="tns:createPlantResponse"/>
  <xs:element name="createProduct" type="tns:createProduct"/>
  <xs:element name="createProductResponse" type="tns:createProductResponse"/>
  <xs:element name="createRecipe" type="tns:createRecipe"/>
  <xs:element name="createRecipeResponse" type="tns:createRecipeResponse"/>
  <xs:element name="createStore" type="tns:createStore"/>
  <xs:element name="createStoreResponse" type="tns:createStoreResponse"/>
  <xs:element name="deleteBooleanCustomProductParameter" type="tns:deleteBooleanCustomProductParameter"/>
  <xs:element name="deleteBooleanCustomProductParameterResponse" type="tns:deleteBooleanCustomProductParameterResponse"/>
  <xs:element name="deleteBooleanPlantOperationParameter" type="tns:deleteBooleanPlantOperationParameter"/>
  <xs:element name="deleteBooleanPlantOperationParameterResponse" type="tns:deleteBooleanPlantOperationParameterResponse"/>
  <xs:element name="deleteCustomProduct" type="tns:deleteCustomProduct"/>
  <xs:element name="deleteCustomProductResponse" type="tns:deleteCustomProductResponse"/>
  <xs:element name="deleteEnterprise" type="tns:deleteEnterprise"/>
  <xs:element name="deleteEnterpriseResponse" type="tns:deleteEnterpriseResponse"/>
  <xs:element name="deleteEntryPoint" type="tns:deleteEntryPoint"/>
  <xs:element name="deleteEntryPointInteraction" type="tns:deleteEntryPointInteraction"/>
  <xs:element name="deleteEntryPointInteractionResponse" type="tns:deleteEntryPointInteractionResponse"/>
  <xs:element name="deleteEntryPointResponse" type="tns:deleteEntryPointResponse"/>
  <xs:element name="deleteNorminalCustomProductParameter" type="tns:deleteNorminalCustomProductParameter"/>
  <xs:element name="deleteNorminalCustomProductParameterResponse" type="tns:deleteNorminalCustomProductParameterResponse"/>
  <xs:element name="deleteNorminalPlantOperationParameter" type="tns:deleteNorminalPlantOperationParameter"/>
  <xs:element name="deleteNorminalPlantOperationParameterResponse" type="tns:deleteNorminalPlantOperationParameterResponse"/>
  <xs:element name="deleteParameterInteraction" type="tns:deleteParameterInteraction"/>
  <xs:element name="deleteParameterInteractionResponse" type="tns:deleteParameterInteractionResponse"/>
  <xs:element name="deletePlant" type="tns:deletePlant"/>
  <xs:element name="deletePlantOperation" type="tns:deletePlantOperation"/>
  <xs:element name="deletePlantOperationResponse" type="tns:deletePlantOperationResponse"/>
  <xs:element name="deletePlantResponse" type="tns:deletePlantResponse"/>
  <xs:element name="deleteRecipe" type="tns:deleteRecipe"/>
  <xs:element name="deleteRecipeResponse" type="tns:deleteRecipeResponse"/>
  <xs:element name="getAllCustomProducts" type="tns:getAllCustomProducts"/>
  <xs:element name="getAllCustomProductsResponse" type="tns:getAllCustomProductsResponse"/>
  <xs:element name="getAllEnterpriseProducts" type="tns:getAllEnterpriseProducts"/>
  <xs:element name="getAllEnterpriseProductsResponse" type="tns:getAllEnterpriseProductsResponse"/>
  <xs:element name="getAllProducts" type="tns:getAllProducts"/>
  <xs:element name="getAllProductsResponse" type="tns:getAllProductsResponse"/>
  <xs:element name="getEnterprises" type="tns:getEnterprises"/>
  <xs:element name="getEnterprisesResponse" type="tns:getEnterprisesResponse"/>
  <xs:element name="getMeanTimeToDelivery" type="tns:getMeanTimeToDelivery"/>
  <xs:element name="getMeanTimeToDeliveryResponse" type="tns:getMeanTimeToDeliveryResponse"/>
  <xs:element name="getProductByBarcode" type="tns:getProductByBarcode"/>
  <xs:element name="getProductByBarcodeResponse" type="tns:getProductByBarcodeResponse"/>
  <xs:element name="getProductByID" type="tns:getProductByID"/>
  <xs:element name="getProductByIDResponse" type="tns:getProductByIDResponse"/>
  <xs:element name="getProductsBySupplier" type="tns:getProductsBySupplier"/>
  <xs:element name="getProductsBySupplierResponse" type="tns:getProductsBySupplierResponse"/>
  <xs:element name="getSupplierByID" type="tns:getSupplierByID"/>
  <xs:element name="getSupplierByIDResponse" type="tns:getSupplierByIDResponse"/>
  <xs:element name="onPlantOperationFinish" type="tns:onPlantOperationFinish"/>
  <xs:element name="onPlantOperationFinishResponse" type="tns:onPlantOperationFinishResponse"/>
  <xs:element name="onPlantOperationOrderEntryFinish" type="tns:onPlantOperationOrderEntryFinish"/>
  <xs:element name="onPlantOperationOrderEntryFinishResponse" type="tns:onPlantOperationOrderEntryFinishResponse"/>
  <xs:element name="onPlantOperationOrderFinish" type="tns:onPlantOperationOrderFinish"/>
  <xs:element name="onPlantOperationOrderFinishResponse" type="tns:onPlantOperationOrderFinishResponse"/>
  <xs:element name="queryBooleanCustomProductParameterById" type="tns:queryBooleanCustomProductParameterById"/>
  <xs:element name="queryBooleanCustomProductParameterByIdResponse" type="tns:queryBooleanCustomProductParameterByIdResponse"/>
  <xs:element name="queryBooleanPlantOperationParameterById" type="tns:queryBooleanPlantOperationParameterById"/>
  <xs:element name="queryBooleanPlantOperationParameterByIdResponse" type="tns:queryBooleanPlantOperationParameterByIdResponse"/>
  <xs:element name="queryCustomProductByBarcode" type="tns:queryCustomProductByBarcode"/>
  <xs:element name="queryCustomProductByBarcodeResponse" type="tns:queryCustomProductByBarcodeResponse"/>
  <xs:element name="queryCustomProductByID" type="tns:queryCustomProductByID"/>
  <xs:element name="queryCustomProductByIDResponse" type="tns:queryCustomProductByIDResponse"/>
  <xs:element name="queryCustomProductParameterByID" type="tns:queryCustomProductParameterByID"/>
  <xs:element name="queryCustomProductParameterByIDResponse" type="tns:queryCustomProductParameterByIDResponse"/>
  <xs:element name="queryEnterpriseById" type="tns:queryEnterpriseById"/>
  <xs:element name="queryEnterpriseByIdResponse" type="tns:queryEnterpriseByIdResponse"/>
  <xs:element name="queryEnterpriseByName" type="tns:queryEnterpriseByName"/>
  <xs:element name="queryEnterpriseByNameResponse" type="tns:queryEnterpriseByNameResponse"/>
  <xs:element name="queryEntryPointById" type="tns:queryEntryPointById"/>
  <xs:element name="queryEntryPointByIdResponse" type="tns:queryEntryPointByIdResponse"/>
  <xs:element name="queryEntryPointInteractionById" type="tns:queryEntryPointInteractionById"/>
  <xs:element name="queryEntryPointInteractionByIdResponse" type="tns:queryEntryPointInteractionByIdResponse"/>
  <xs:element name="queryEntryPointInteractions" type="tns:queryEntryPointInteractions"/>
  <xs:element name="queryEntryPointInteractionsResponse" type="tns:queryEntryPointInteractionsResponse"/>
  <xs:element name="queryEntryPoints" type="tns:queryEntryPoints"/>
  <xs:element name="queryEntryPointsResponse" type="tns:queryEntryPointsResponse"/>
  <xs:element name="queryNorminalCustomProductParameterById" type="tns:queryNorminalCustomProductParameterById"/>
  <xs:element name="queryNorminalCustomProductParameterByIdResponse" type="tns:queryNorminalCustomProductParameterByIdResponse"/>
  <xs:element name="queryNorminalPlantOperationParameterById" type="tns:queryNorminalPlantOperationParameterById"/>
  <xs:element name="queryNorminalPlantOperationParameterByIdResponse" type="tns:queryNorminalPlantOperationParameterByIdResponse"/>
  <xs:element name="queryParameterInteractionById" type="tns:queryParameterInteractionById"/>
  <xs:element name="queryParameterInteractionByIdResponse" type="tns:queryParameterInteractionByIdResponse"/>
  <xs:element name="queryParameterInteractions" type="tns:queryParameterInteractions"/>
  <xs:element name="queryParameterInteractionsResponse" type="tns:queryParameterInteractionsResponse"/>
  <xs:element name="queryParametersByCustomProductID" type="tns:queryParametersByCustomProductID"/>
  <xs:element name="queryParametersByCustomProductIDResponse" type="tns:queryParametersByCustomProductIDResponse"/>
  <xs:element name="queryParametersByPlantOperationID" type="tns:queryParametersByPlantOperationID"/>
  <xs:element name="queryParametersByPlantOperationIDResponse" type="tns:queryParametersByPlantOperationIDResponse"/>
  <xs:element name="queryPlantByID" type="tns:queryPlantByID"/>
  <xs:element name="queryPlantByIDResponse" type="tns:queryPlantByIDResponse"/>
  <xs:element name="queryPlantByName" type="tns:queryPlantByName"/>
  <xs:element name="queryPlantByNameResponse" type="tns:queryPlantByNameResponse"/>
  <xs:element name="queryPlantOperationById" type="tns:queryPlantOperationById"/>
  <xs:element name="queryPlantOperationByIdResponse" type="tns:queryPlantOperationByIdResponse"/>
  <xs:element name="queryPlantOperationParameterById" type="tns:queryPlantOperationParameterById"/>
  <xs:element name="queryPlantOperationParameterByIdResponse" type="tns:queryPlantOperationParameterByIdResponse"/>
  <xs:element name="queryPlantOperations" type="tns:queryPlantOperations"/>
  <xs:element name="queryPlantOperationsResponse" type="tns:queryPlantOperationsResponse"/>
  <xs:element name="queryPlantsByEnterpriseID" type="tns:queryPlantsByEnterpriseID"/>
  <xs:element name="queryPlantsByEnterpriseIDResponse" type="tns:queryPlantsByEnterpriseIDResponse"/>
  <xs:element name="queryRecipeById" type="tns:queryRecipeById"/>
  <xs:element name="queryRecipeByIdResponse" type="tns:queryRecipeByIdResponse"/>
  <xs:element name="queryStoreByEnterpriseID" type="tns:queryStoreByEnterpriseID"/>
  <xs:element name="queryStoreByEnterpriseIDResponse" type="tns:queryStoreByEnterpriseIDResponse"/>
  <xs:element name="queryStoreByName" type="tns:queryStoreByName"/>
  <xs:element name="queryStoreByNameResponse" type="tns:queryStoreByNameResponse"/>
  <xs:element name="queryStoresByEnterpriseID" type="tns:queryStoresByEnterpriseID"/>
  <xs:element name="queryStoresByEnterpriseIDResponse" type="tns:queryStoresByEnterpriseIDResponse"/>
  <xs:element name="querySupplierForProduct" type="tns:querySupplierForProduct"/>
  <xs:element name="querySupplierForProductResponse" type="tns:querySupplierForProductResponse"/>
  <xs:element name="querySuppliers" type="tns:querySuppliers"/>
  <xs:element name="querySuppliersResponse" type="tns:querySuppliersResponse"/>
  <xs:element name="updateBooleanCustomProductParameter" type="tns:updateBooleanCustomProductParameter"/>
  <xs:element name="updateBooleanCustomProductParameterResponse" type="tns:updateBooleanCustomProductParameterResponse"/>
  <xs:element name="updateBooleanPlantOperationParameter" type="tns:updateBooleanPlantOperationParameter"/>
  <xs:element name="updateBooleanPlantOperationParameterResponse" type="tns:updateBooleanPlantOperationParameterResponse"/>
  <xs:element name="updateCustomProduct" type="tns:updateCustomProduct"/>
  <xs:element name="updateCustomProductResponse" type="tns:updateCustomProductResponse"/>
  <xs:element name="updateEntryPoint" type="tns:updateEntryPoint"/>
  <xs:element name="updateEntryPointInteraction" type="tns:updateEntryPointInteraction"/>
  <xs:element name="updateEntryPointInteractionResponse" type="tns:updateEntryPointInteractionResponse"/>
  <xs:element name="updateEntryPointResponse" type="tns:updateEntryPointResponse"/>
  <xs:element name="updateNorminalCustomProductParameter" type="tns:updateNorminalCustomProductParameter"/>
  <xs:element name="updateNorminalCustomProductParameterResponse" type="tns:updateNorminalCustomProductParameterResponse"/>
  <xs:element name="updateNorminalPlantOperationParameter" type="tns:updateNorminalPlantOperationParameter"/>
  <xs:element name="updateNorminalPlantOperationParameterResponse" type="tns:updateNorminalPlantOperationParameterResponse"/>
  <xs:element name="updateParameterInteraction" type="tns:updateParameterInteraction"/>
  <xs:element name="updateParameterInteractionResponse" type="tns:updateParameterInteractionResponse"/>
  <xs:element name="updatePlant" type="tns:updatePlant"/>
  <xs:element name="updatePlantOperation" type="tns:updatePlantOperation"/>
  <xs:element name="updatePlantOperationResponse" type="tns:updatePlantOperationResponse"/>
  <xs:element name="updatePlantResponse" type="tns:updatePlantResponse"/>
  <xs:element name="updateProduct" type="tns:updateProduct"/>
  <xs:element name="updateProductResponse" type="tns:updateProductResponse"/>
  <xs:element name="updateRecipe" type="tns:updateRecipe"/>
  <xs:element name="updateRecipeResponse" type="tns:updateRecipeResponse"/>
  <xs:element name="updateStore" type="tns:updateStore"/>
  <xs:element name="updateStoreResponse" type="tns:updateStoreResponse"/>
  <xs:complexType name="deleteBooleanPlantOperationParameter">
    <xs:sequence>
      <xs:element name="booleanPlantOperationParameterID" type="ns1:BooleanPlantOperationParameterTO"/>
      <xs:element name="operationTO" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteBooleanPlantOperationParameterResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryCustomProductByBarcode">
    <xs:sequence>
      <xs:element name="barcode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCustomProductByBarcodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns6:CustomProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPlantOperation">
    <xs:sequence>
      <xs:element name="plantOperationID" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPlantOperationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createRecipe">
    <xs:sequence>
      <xs:element name="recipeTO" type="ns4:RecipeTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createRecipeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateRecipe">
    <xs:sequence>
      <xs:element name="recipe" type="ns4:RecipeTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateRecipeResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createEntryPointInteraction">
    <xs:sequence>
      <xs:element name="entryPointInteractionID" type="ns4:EntryPointInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEntryPointInteractionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantOperationParameterById">
    <xs:sequence>
      <xs:element name="customProductParameterID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantOperationParameterByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:PlantOperationParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoresByEnterpriseID">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoresByEnterpriseIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns5:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePlant">
    <xs:sequence>
      <xs:element name="plantTO" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePlantResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryEntryPointById">
    <xs:sequence>
      <xs:element name="entryPointID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEntryPointByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:EntryPointTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateBooleanPlantOperationParameter">
    <xs:sequence>
      <xs:element name="booleanPlantOperationParameterID" type="ns1:BooleanPlantOperationParameterTO"/>
      <xs:element name="operationTO" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateBooleanPlantOperationParameterResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryStoreByName">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="storeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoreByNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns5:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createCustomProduct">
    <xs:sequence>
      <xs:element name="customProductTO" type="ns6:CustomProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createCustomProductResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantsByEnterpriseID">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantsByEnterpriseIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoreByEnterpriseID">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="storeID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoreByEnterpriseIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantOperationById">
    <xs:sequence>
      <xs:element name="plantOperationID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantOperationByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCustomProduct">
    <xs:sequence>
      <xs:element name="customProductTO" type="ns6:CustomProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCustomProductResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllCustomProducts">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllCustomProductsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns6:CustomProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePlant">
    <xs:sequence>
      <xs:element name="plantTO" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePlantResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllEnterpriseProducts">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllEnterpriseProductsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns5:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMeanTimeToDelivery">
    <xs:sequence>
      <xs:element name="productSupplier" type="ns5:SupplierTO"/>
      <xs:element name="enterprise" type="ns5:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMeanTimeToDeliveryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryNorminalCustomProductParameterById">
    <xs:sequence>
      <xs:element name="norminalCustomProductParameterID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryNorminalCustomProductParameterByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns7:NorminalCustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateEntryPointInteraction">
    <xs:sequence>
      <xs:element name="entryPointInteractionID" type="ns4:EntryPointInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateEntryPointInteractionResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryParametersByPlantOperationID">
    <xs:sequence>
      <xs:element name="plantOperationID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryParametersByPlantOperationIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:PlantOperationParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPlant">
    <xs:sequence>
      <xs:element name="plantTO" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPlantResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onPlantOperationFinish">
    <xs:sequence>
      <xs:element name="plantOperationOrderEntryID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onPlantOperationFinishResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getProductByBarcode">
    <xs:sequence>
      <xs:element name="barcode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductByBarcodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateCustomProduct">
    <xs:sequence>
      <xs:element name="customProductTO" type="ns6:CustomProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateCustomProductResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="updateEntryPoint">
    <xs:sequence>
      <xs:element name="entryPointTO" type="ns4:EntryPointTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateEntryPointResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryParameterInteractionById">
    <xs:sequence>
      <xs:element name="parameterInteractionID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryParameterInteractionByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:ParameterInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePlantOperation">
    <xs:sequence>
      <xs:element name="PlantOperationID" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePlantOperationResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="deleteEnterprise">
    <xs:sequence>
      <xs:element name="enterpriseTO" type="ns5:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteEnterpriseResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getProductByID">
    <xs:sequence>
      <xs:element name="productID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createParameterInteraction">
    <xs:sequence>
      <xs:element name="parameterInteractionID" type="ns4:ParameterInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createParameterInteractionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePlantOperation">
    <xs:sequence>
      <xs:element name="plantOperationID" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePlantOperationResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createBooleanCustomProductParameter">
    <xs:sequence>
      <xs:element name="booleanCustomProductParameterID" type="ns7:BooleanCustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createBooleanCustomProductParameterResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnterprises">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getEnterprisesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns5:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteNorminalPlantOperationParameter">
    <xs:sequence>
      <xs:element name="norminalPlantOperationParameterID" type="ns1:NorminalPlantOperationParameterTO"/>
      <xs:element name="operationTO" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteNorminalPlantOperationParameterResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createBooleanPlantOperationParameter">
    <xs:sequence>
      <xs:element name="booleanPlantOperationParameterID" type="ns1:BooleanPlantOperationParameterTO"/>
      <xs:element name="operationTO" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createBooleanPlantOperationParameterResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEntryPointInteractionById">
    <xs:sequence>
      <xs:element name="entryPointInteractionID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEntryPointInteractionByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:EntryPointInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEntryPointInteractions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="entryPointInteractionIDs" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEntryPointInteractionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns4:EntryPointInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEntryPoints">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="entryPointIDs" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEntryPointsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns4:EntryPointTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantByID">
    <xs:sequence>
      <xs:element name="plantID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteParameterInteraction">
    <xs:sequence>
      <xs:element name="parameterInteractionID" type="ns4:ParameterInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteParameterInteractionResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="deleteEntryPoint">
    <xs:sequence>
      <xs:element name="entryPointTO" type="ns4:EntryPointTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteEntryPointResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="updateNorminalCustomProductParameter">
    <xs:sequence>
      <xs:element name="norminalCustomProductParameterID" type="ns7:NorminalCustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateNorminalCustomProductParameterResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getSupplierByID">
    <xs:sequence>
      <xs:element name="supplierID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSupplierByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:SupplierTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBooleanCustomProductParameterById">
    <xs:sequence>
      <xs:element name="booleanCustomProductParameterID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBooleanCustomProductParameterByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns7:BooleanCustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCustomProductByID">
    <xs:sequence>
      <xs:element name="customProductID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCustomProductByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns6:CustomProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteNorminalCustomProductParameter">
    <xs:sequence>
      <xs:element name="norminalCustomProductParameterID" type="ns7:NorminalCustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteNorminalCustomProductParameterResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryEnterpriseById">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEnterpriseByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCustomProductParameterByID">
    <xs:sequence>
      <xs:element name="customProductParameterID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryCustomProductParameterByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns7:CustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryRecipeById">
    <xs:sequence>
      <xs:element name="recipeID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryRecipeByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:RecipeTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createNorminalCustomProductParameter">
    <xs:sequence>
      <xs:element name="norminalCustomProductParameterID" type="ns7:NorminalCustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createNorminalCustomProductParameterResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProduct">
    <xs:sequence>
      <xs:element name="productTO" type="ns5:ProductWithSupplierTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="querySupplierForProduct">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="productBarcode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySupplierForProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:SupplierTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateParameterInteraction">
    <xs:sequence>
      <xs:element name="parameterInteractionID" type="ns4:ParameterInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateParameterInteractionResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryParameterInteractions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="parameterInteractionIDs" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryParameterInteractionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns4:ParameterInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantOperations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="operationIDs" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantOperationsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateBooleanCustomProductParameter">
    <xs:sequence>
      <xs:element name="booleanCustomProductParameterID" type="ns7:BooleanCustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateBooleanCustomProductParameterResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createEntryPoint">
    <xs:sequence>
      <xs:element name="entryPointTO" type="ns4:EntryPointTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEntryPointResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEnterprise">
    <xs:sequence>
      <xs:element name="enterpriseName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEnterpriseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductsBySupplier">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="supplierID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductsBySupplierResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns5:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onPlantOperationOrderEntryFinish">
    <xs:sequence>
      <xs:element name="plantOperationOrderEntryID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onPlantOperationOrderEntryFinishResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="updateStore">
    <xs:sequence>
      <xs:element name="storeTO" type="ns5:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStoreResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllProducts">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllProductsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns5:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBooleanPlantOperationParameterById">
    <xs:sequence>
      <xs:element name="booleanPlantOperationParameterID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBooleanPlantOperationParameterByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:BooleanPlantOperationParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEnterpriseByName">
    <xs:sequence>
      <xs:element name="enterpriseName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEnterpriseByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySuppliers">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySuppliersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns5:SupplierTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteRecipe">
    <xs:sequence>
      <xs:element name="recipeID" type="ns4:RecipeTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteRecipeResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createNorminalPlantOperationParameter">
    <xs:sequence>
      <xs:element name="norminalPlantOperationParameterID" type="ns1:NorminalPlantOperationParameterTO"/>
      <xs:element name="operationTO" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createNorminalPlantOperationParameterResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantByName">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="PlantName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantByNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProduct">
    <xs:sequence>
      <xs:element name="productTO" type="ns5:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProductResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteEntryPointInteraction">
    <xs:sequence>
      <xs:element name="entryPointInteractionID" type="ns4:EntryPointInteractionTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteEntryPointInteractionResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="onPlantOperationOrderFinish">
    <xs:sequence>
      <xs:element name="plantOperationOrderID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onPlantOperationOrderFinishResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryNorminalPlantOperationParameterById">
    <xs:sequence>
      <xs:element name="norminalPlantOperationParameterID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryNorminalPlantOperationParameterByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:NorminalPlantOperationParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateNorminalPlantOperationParameter">
    <xs:sequence>
      <xs:element name="norminalPlantOperationParameterID" type="ns1:NorminalPlantOperationParameterTO"/>
      <xs:element name="operationTO" type="ns4:PlantOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateNorminalPlantOperationParameterResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createStore">
    <xs:sequence>
      <xs:element name="storeTO" type="ns5:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createStoreResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteBooleanCustomProductParameter">
    <xs:sequence>
      <xs:element name="booleanCustomProductParameterID" type="ns7:BooleanCustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteBooleanCustomProductParameterResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryParametersByCustomProductID">
    <xs:sequence>
      <xs:element name="customProductID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryParametersByCustomProductIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns7:CustomProductParameterTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotInDatabaseException" type="tns:NotInDatabaseException"/>
  <xs:complexType name="NotInDatabaseException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateException" type="tns:UpdateException"/>
  <xs:complexType name="UpdateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateException" type="tns:CreateException"/>
  <xs:complexType name="CreateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IOException" type="tns:IOException"/>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
