cocome-maven-project/cloud-logic-service/cloud-logic-core-services/src/main/resources/wsdl/IEnterpriseManager_schema3.xsd

<xs:schema xmlns:ns1="http://store.application.inventory.tradingsystem.cocome.org/" xmlns:ns2="http://plant.application.inventory.tradingsystem.cocome.org/" xmlns:tns="http://enterprise.webservice.logic.cocome.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://enterprise.webservice.logic.cocome.org/">
  <xs:import namespace="http://store.application.inventory.tradingsystem.cocome.org/" schemaLocation="IEnterpriseManager_schema1.xsd"/>
  <xs:import namespace="http://plant.application.inventory.tradingsystem.cocome.org/" schemaLocation="IEnterpriseManager_schema2.xsd"/>
  <xs:element name="EnterpriseTO" type="ns1:EnterpriseTO"/>
  <xs:element name="PlantTO" type="ns2:PlantTO"/>
  <xs:element name="ProductTO" type="ns1:ProductTO"/>
  <xs:element name="ProductWithSupplierTO" type="ns1:ProductWithSupplierTO"/>
  <xs:element name="StoreTO" type="ns1:StoreTO"/>
  <xs:element name="SupplierTO" type="ns1:SupplierTO"/>
  <xs:element name="createEnterprise" type="tns:createEnterprise"/>
  <xs:element name="createEnterpriseResponse" type="tns:createEnterpriseResponse"/>
  <xs:element name="createPlant" type="tns:createPlant"/>
  <xs:element name="createPlantResponse" type="tns:createPlantResponse"/>
  <xs:element name="createProduct" type="tns:createProduct"/>
  <xs:element name="createProductResponse" type="tns:createProductResponse"/>
  <xs:element name="createStore" type="tns:createStore"/>
  <xs:element name="createStoreResponse" type="tns:createStoreResponse"/>
  <xs:element name="fillItemizedDatabase" type="tns:fillItemizedDatabase"/>
  <xs:element name="fillItemizedDatabaseResponse" type="tns:fillItemizedDatabaseResponse"/>
  <xs:element name="fillStorizedDatabase" type="tns:fillStorizedDatabase"/>
  <xs:element name="fillStorizedDatabaseResponse" type="tns:fillStorizedDatabaseResponse"/>
  <xs:element name="fillTestDatabase" type="tns:fillTestDatabase"/>
  <xs:element name="fillTestDatabaseResponse" type="tns:fillTestDatabaseResponse"/>
  <xs:element name="getAllEnterpriseProducts" type="tns:getAllEnterpriseProducts"/>
  <xs:element name="getAllEnterpriseProductsResponse" type="tns:getAllEnterpriseProductsResponse"/>
  <xs:element name="getAllProducts" type="tns:getAllProducts"/>
  <xs:element name="getAllProductsResponse" type="tns:getAllProductsResponse"/>
  <xs:element name="getEnterprises" type="tns:getEnterprises"/>
  <xs:element name="getEnterprisesResponse" type="tns:getEnterprisesResponse"/>
  <xs:element name="getMeanTimeToDelivery" type="tns:getMeanTimeToDelivery"/>
  <xs:element name="getMeanTimeToDeliveryResponse" type="tns:getMeanTimeToDeliveryResponse"/>
  <xs:element name="getProductByBarcode" type="tns:getProductByBarcode"/>
  <xs:element name="getProductByBarcodeResponse" type="tns:getProductByBarcodeResponse"/>
  <xs:element name="getProductByID" type="tns:getProductByID"/>
  <xs:element name="getProductByIDResponse" type="tns:getProductByIDResponse"/>
  <xs:element name="getProductsBySupplier" type="tns:getProductsBySupplier"/>
  <xs:element name="getProductsBySupplierResponse" type="tns:getProductsBySupplierResponse"/>
  <xs:element name="getSupplierByID" type="tns:getSupplierByID"/>
  <xs:element name="getSupplierByIDResponse" type="tns:getSupplierByIDResponse"/>
  <xs:element name="queryEnterpriseById" type="tns:queryEnterpriseById"/>
  <xs:element name="queryEnterpriseByIdResponse" type="tns:queryEnterpriseByIdResponse"/>
  <xs:element name="queryEnterpriseByName" type="tns:queryEnterpriseByName"/>
  <xs:element name="queryEnterpriseByNameResponse" type="tns:queryEnterpriseByNameResponse"/>
  <xs:element name="queryPlantByEnterpriseID" type="tns:queryPlantByEnterpriseID"/>
  <xs:element name="queryPlantByEnterpriseIDResponse" type="tns:queryPlantByEnterpriseIDResponse"/>
  <xs:element name="queryPlantByName" type="tns:queryPlantByName"/>
  <xs:element name="queryPlantByNameResponse" type="tns:queryPlantByNameResponse"/>
  <xs:element name="queryPlantsByEnterpriseID" type="tns:queryPlantsByEnterpriseID"/>
  <xs:element name="queryPlantsByEnterpriseIDResponse" type="tns:queryPlantsByEnterpriseIDResponse"/>
  <xs:element name="queryStoreByEnterpriseID" type="tns:queryStoreByEnterpriseID"/>
  <xs:element name="queryStoreByEnterpriseIDResponse" type="tns:queryStoreByEnterpriseIDResponse"/>
  <xs:element name="queryStoreByName" type="tns:queryStoreByName"/>
  <xs:element name="queryStoreByNameResponse" type="tns:queryStoreByNameResponse"/>
  <xs:element name="queryStoresByEnterpriseID" type="tns:queryStoresByEnterpriseID"/>
  <xs:element name="queryStoresByEnterpriseIDResponse" type="tns:queryStoresByEnterpriseIDResponse"/>
  <xs:element name="querySupplierForProduct" type="tns:querySupplierForProduct"/>
  <xs:element name="querySupplierForProductResponse" type="tns:querySupplierForProductResponse"/>
  <xs:element name="querySuppliers" type="tns:querySuppliers"/>
  <xs:element name="querySuppliersResponse" type="tns:querySuppliersResponse"/>
  <xs:element name="updatePlant" type="tns:updatePlant"/>
  <xs:element name="updatePlantResponse" type="tns:updatePlantResponse"/>
  <xs:element name="updateProduct" type="tns:updateProduct"/>
  <xs:element name="updateProductResponse" type="tns:updateProductResponse"/>
  <xs:element name="updateStore" type="tns:updateStore"/>
  <xs:element name="updateStoreResponse" type="tns:updateStoreResponse"/>
  <xs:complexType name="getSupplierByID">
    <xs:sequence>
      <xs:element name="supplierID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSupplierByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:SupplierTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fillItemizedDatabase">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fillItemizedDatabaseResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryPlantByEnterpriseID">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="plantID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantByEnterpriseIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoresByEnterpriseID">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoresByEnterpriseIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEnterpriseById">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEnterpriseByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePlant">
    <xs:sequence>
      <xs:element name="plantTO" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePlantResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="updateProduct">
    <xs:sequence>
      <xs:element name="productTO" type="ns1:ProductWithSupplierTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryStoreByName">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="storeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoreByNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySupplierForProduct">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="productBarcode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySupplierForProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:SupplierTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantsByEnterpriseID">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantsByEnterpriseIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoreByEnterpriseID">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="storeID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStoreByEnterpriseIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fillStorizedDatabase">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fillStorizedDatabaseResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createEnterprise">
    <xs:sequence>
      <xs:element name="enterpriseName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEnterpriseResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllEnterpriseProducts">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllEnterpriseProductsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMeanTimeToDelivery">
    <xs:sequence>
      <xs:element name="productSupplier" type="ns1:SupplierTO"/>
      <xs:element name="enterprise" type="ns1:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMeanTimeToDeliveryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductsBySupplier">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="supplierID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductsBySupplierResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStore">
    <xs:sequence>
      <xs:element name="storeTO" type="ns1:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStoreResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllProducts">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllProductsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPlant">
    <xs:sequence>
      <xs:element name="plantTO" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPlantResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryEnterpriseByName">
    <xs:sequence>
      <xs:element name="enterpriseName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryEnterpriseByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySuppliers">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySuppliersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:SupplierTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductByBarcode">
    <xs:sequence>
      <xs:element name="barcode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductByBarcodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantByName">
    <xs:sequence>
      <xs:element name="enterpriseID" type="xs:long"/>
      <xs:element name="PlantName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantByNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProduct">
    <xs:sequence>
      <xs:element name="productTO" type="ns1:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProductResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="fillTestDatabase">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fillTestDatabaseResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createStore">
    <xs:sequence>
      <xs:element name="storeTO" type="ns1:StoreWithEnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createStoreResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getProductByID">
    <xs:sequence>
      <xs:element name="productID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:ProductTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnterprises">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getEnterprisesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:EnterpriseTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotInDatabaseException" type="tns:NotInDatabaseException"/>
  <xs:complexType name="NotInDatabaseException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateException" type="tns:CreateException"/>
  <xs:complexType name="CreateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IOException" type="tns:IOException"/>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateException" type="tns:UpdateException"/>
  <xs:complexType name="UpdateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
