cocome-maven-project/cloud-logic-service/cloud-logic-core-services/src/main/resources/wsdl/IEnterpriseManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IEnterpriseManagerService" targetNamespace="http://enterprise.webservice.logic.cocome.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://enterprise.webservice.logic.cocome.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://enterprise.webservice.logic.cocome.org/" schemaLocation="IEnterpriseManager_schema6.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="createStoreResponse">
    <wsdl:part name="parameters" element="tns:createStoreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductResponse">
    <wsdl:part name="parameters" element="tns:updateProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStoreResponse">
    <wsdl:part name="parameters" element="tns:updateStoreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStoresByEnterpriseID">
    <wsdl:part name="parameters" element="tns:queryStoresByEnterpriseID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEnterpriseCustomProductsResponse">
    <wsdl:part name="parameters" element="tns:getAllEnterpriseCustomProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePlant">
    <wsdl:part name="parameters" element="tns:updatePlant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateException">
    <wsdl:part name="UpdateException" element="tns:UpdateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStoreByNameResponse">
    <wsdl:part name="parameters" element="tns:queryStoreByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStoreByName">
    <wsdl:part name="parameters" element="tns:queryStoreByName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCustomProduct">
    <wsdl:part name="parameters" element="tns:createCustomProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlantsByEnterpriseID">
    <wsdl:part name="parameters" element="tns:queryPlantsByEnterpriseID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStoreByEnterpriseID">
    <wsdl:part name="parameters" element="tns:queryStoreByEnterpriseID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitOperationResponse">
    <wsdl:part name="parameters" element="tns:createProductionUnitOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlantsByEnterpriseIDResponse">
    <wsdl:part name="parameters" element="tns:queryPlantsByEnterpriseIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCustomProduct">
    <wsdl:part name="parameters" element="tns:deleteCustomProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryEnterpriseByIdResponse">
    <wsdl:part name="parameters" element="tns:queryEnterpriseByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitOperationByIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitOperationByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnterprisesResponse">
    <wsdl:part name="parameters" element="tns:getEnterprisesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotInDatabaseException">
    <wsdl:part name="NotInDatabaseException" element="tns:NotInDatabaseException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCustomProducts">
    <wsdl:part name="parameters" element="tns:getAllCustomProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePlant">
    <wsdl:part name="parameters" element="tns:deletePlant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEnterpriseResponse">
    <wsdl:part name="parameters" element="tns:deleteEnterpriseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEnterpriseProducts">
    <wsdl:part name="parameters" element="tns:getAllEnterpriseProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMeanTimeToDelivery">
    <wsdl:part name="parameters" element="tns:getMeanTimeToDelivery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="querySupplierForProductResponse">
    <wsdl:part name="parameters" element="tns:querySupplierForProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCustomProductResponse">
    <wsdl:part name="parameters" element="tns:createCustomProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMeanTimeToDeliveryResponse">
    <wsdl:part name="parameters" element="tns:getMeanTimeToDeliveryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPlant">
    <wsdl:part name="parameters" element="tns:createPlant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlantByNameResponse">
    <wsdl:part name="parameters" element="tns:queryPlantByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductResponse">
    <wsdl:part name="parameters" element="tns:createProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitClassesByEnterpriseID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitClassesByEnterpriseID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitOperationsByEnterpriseID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitOperationsByEnterpriseID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitClassesByEnterpriseIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitClassesByEnterpriseIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEnterpriseCustomProducts">
    <wsdl:part name="parameters" element="tns:getAllEnterpriseCustomProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductByBarcode">
    <wsdl:part name="parameters" element="tns:getProductByBarcode">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCustomProduct">
    <wsdl:part name="parameters" element="tns:updateCustomProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStoreByEnterpriseIDResponse">
    <wsdl:part name="parameters" element="tns:queryStoreByEnterpriseIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitOperationResponse">
    <wsdl:part name="parameters" element="tns:updateProductionUnitOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="querySuppliersResponse">
    <wsdl:part name="parameters" element="tns:querySuppliersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEnterprise">
    <wsdl:part name="parameters" element="tns:deleteEnterprise">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitOperation">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductByID">
    <wsdl:part name="parameters" element="tns:getProductByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePlantResponse">
    <wsdl:part name="parameters" element="tns:updatePlantResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnterprises">
    <wsdl:part name="parameters" element="tns:getEnterprises">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part name="IOException" element="tns:IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitOperationByID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitOperationByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlantByID">
    <wsdl:part name="parameters" element="tns:queryPlantByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCustomProductResponse">
    <wsdl:part name="parameters" element="tns:updateCustomProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupplierByID">
    <wsdl:part name="parameters" element="tns:getSupplierByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsBySupplierResponse">
    <wsdl:part name="parameters" element="tns:getProductsBySupplierResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateException">
    <wsdl:part name="CreateException" element="tns:CreateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllProductsResponse">
    <wsdl:part name="parameters" element="tns:getAllProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitClass">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitClass">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryEnterpriseById">
    <wsdl:part name="parameters" element="tns:queryEnterpriseById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitClass">
    <wsdl:part name="parameters" element="tns:updateProductionUnitClass">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProduct">
    <wsdl:part name="parameters" element="tns:updateProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCustomProductsResponse">
    <wsdl:part name="parameters" element="tns:getAllCustomProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitOperationsByEnterpriseIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitOperationsByEnterpriseIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="querySupplierForProduct">
    <wsdl:part name="parameters" element="tns:querySupplierForProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductByBarcodeResponse">
    <wsdl:part name="parameters" element="tns:getProductByBarcodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStoresByEnterpriseIDResponse">
    <wsdl:part name="parameters" element="tns:queryStoresByEnterpriseIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePlantResponse">
    <wsdl:part name="parameters" element="tns:deletePlantResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupplierByIDResponse">
    <wsdl:part name="parameters" element="tns:getSupplierByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitClassResponse">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitClassResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitOperation">
    <wsdl:part name="parameters" element="tns:createProductionUnitOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPlantResponse">
    <wsdl:part name="parameters" element="tns:createPlantResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitClassByIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitClassByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitOperation">
    <wsdl:part name="parameters" element="tns:updateProductionUnitOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEnterpriseProductsResponse">
    <wsdl:part name="parameters" element="tns:getAllEnterpriseProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitClassResponse">
    <wsdl:part name="parameters" element="tns:createProductionUnitClassResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEnterprise">
    <wsdl:part name="parameters" element="tns:createEnterprise">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsBySupplier">
    <wsdl:part name="parameters" element="tns:getProductsBySupplier">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStore">
    <wsdl:part name="parameters" element="tns:updateStore">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllProducts">
    <wsdl:part name="parameters" element="tns:getAllProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryEnterpriseByName">
    <wsdl:part name="parameters" element="tns:queryEnterpriseByName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="querySuppliers">
    <wsdl:part name="parameters" element="tns:querySuppliers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductByIDResponse">
    <wsdl:part name="parameters" element="tns:getProductByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitClassResponse">
    <wsdl:part name="parameters" element="tns:updateProductionUnitClassResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlantByName">
    <wsdl:part name="parameters" element="tns:queryPlantByName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitClass">
    <wsdl:part name="parameters" element="tns:createProductionUnitClass">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCustomProductResponse">
    <wsdl:part name="parameters" element="tns:deleteCustomProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProduct">
    <wsdl:part name="parameters" element="tns:createProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEnterpriseResponse">
    <wsdl:part name="parameters" element="tns:createEnterpriseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryEnterpriseByNameResponse">
    <wsdl:part name="parameters" element="tns:queryEnterpriseByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createStore">
    <wsdl:part name="parameters" element="tns:createStore">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitClassByID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitClassByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlantByIDResponse">
    <wsdl:part name="parameters" element="tns:queryPlantByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitOperationResponse">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IEnterpriseManager">
    <wsdl:operation name="queryPlantByID">
      <wsdl:input name="queryPlantByID" message="tns:queryPlantByID">
    </wsdl:input>
      <wsdl:output name="queryPlantByIDResponse" message="tns:queryPlantByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupplierByID">
      <wsdl:input name="getSupplierByID" message="tns:getSupplierByID">
    </wsdl:input>
      <wsdl:output name="getSupplierByIDResponse" message="tns:getSupplierByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryStoresByEnterpriseID">
      <wsdl:input name="queryStoresByEnterpriseID" message="tns:queryStoresByEnterpriseID">
    </wsdl:input>
      <wsdl:output name="queryStoresByEnterpriseIDResponse" message="tns:queryStoresByEnterpriseIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnitClass">
      <wsdl:input name="deleteProductionUnitClass" message="tns:deleteProductionUnitClass">
    </wsdl:input>
      <wsdl:output name="deleteProductionUnitClassResponse" message="tns:deleteProductionUnitClassResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
      <wsdl:fault name="IOException" message="tns:IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryEnterpriseById">
      <wsdl:input name="queryEnterpriseById" message="tns:queryEnterpriseById">
    </wsdl:input>
      <wsdl:output name="queryEnterpriseByIdResponse" message="tns:queryEnterpriseByIdResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updatePlant">
      <wsdl:input name="updatePlant" message="tns:updatePlant">
    </wsdl:input>
      <wsdl:output name="updatePlantResponse" message="tns:updatePlantResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnitClass">
      <wsdl:input name="updateProductionUnitClass" message="tns:updateProductionUnitClass">
    </wsdl:input>
      <wsdl:output name="updateProductionUnitClassResponse" message="tns:updateProductionUnitClassResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input name="updateProduct" message="tns:updateProduct">
    </wsdl:input>
      <wsdl:output name="updateProductResponse" message="tns:updateProductResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryStoreByName">
      <wsdl:input name="queryStoreByName" message="tns:queryStoreByName">
    </wsdl:input>
      <wsdl:output name="queryStoreByNameResponse" message="tns:queryStoreByNameResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="querySupplierForProduct">
      <wsdl:input name="querySupplierForProduct" message="tns:querySupplierForProduct">
    </wsdl:input>
      <wsdl:output name="querySupplierForProductResponse" message="tns:querySupplierForProductResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCustomProduct">
      <wsdl:input name="createCustomProduct" message="tns:createCustomProduct">
    </wsdl:input>
      <wsdl:output name="createCustomProductResponse" message="tns:createCustomProductResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryPlantsByEnterpriseID">
      <wsdl:input name="queryPlantsByEnterpriseID" message="tns:queryPlantsByEnterpriseID">
    </wsdl:input>
      <wsdl:output name="queryPlantsByEnterpriseIDResponse" message="tns:queryPlantsByEnterpriseIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryStoreByEnterpriseID">
      <wsdl:input name="queryStoreByEnterpriseID" message="tns:queryStoreByEnterpriseID">
    </wsdl:input>
      <wsdl:output name="queryStoreByEnterpriseIDResponse" message="tns:queryStoreByEnterpriseIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCustomProduct">
      <wsdl:input name="deleteCustomProduct" message="tns:deleteCustomProduct">
    </wsdl:input>
      <wsdl:output name="deleteCustomProductResponse" message="tns:deleteCustomProductResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
      <wsdl:fault name="IOException" message="tns:IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnitOperation">
      <wsdl:input name="createProductionUnitOperation" message="tns:createProductionUnitOperation">
    </wsdl:input>
      <wsdl:output name="createProductionUnitOperationResponse" message="tns:createProductionUnitOperationResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnitOperation">
      <wsdl:input name="updateProductionUnitOperation" message="tns:updateProductionUnitOperation">
    </wsdl:input>
      <wsdl:output name="updateProductionUnitOperationResponse" message="tns:updateProductionUnitOperationResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllCustomProducts">
      <wsdl:input name="getAllCustomProducts" message="tns:getAllCustomProducts">
    </wsdl:input>
      <wsdl:output name="getAllCustomProductsResponse" message="tns:getAllCustomProductsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEnterprise">
      <wsdl:input name="createEnterprise" message="tns:createEnterprise">
    </wsdl:input>
      <wsdl:output name="createEnterpriseResponse" message="tns:createEnterpriseResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePlant">
      <wsdl:input name="deletePlant" message="tns:deletePlant">
    </wsdl:input>
      <wsdl:output name="deletePlantResponse" message="tns:deletePlantResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
      <wsdl:fault name="IOException" message="tns:IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEnterpriseProducts">
      <wsdl:input name="getAllEnterpriseProducts" message="tns:getAllEnterpriseProducts">
    </wsdl:input>
      <wsdl:output name="getAllEnterpriseProductsResponse" message="tns:getAllEnterpriseProductsResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMeanTimeToDelivery">
      <wsdl:input name="getMeanTimeToDelivery" message="tns:getMeanTimeToDelivery">
    </wsdl:input>
      <wsdl:output name="getMeanTimeToDeliveryResponse" message="tns:getMeanTimeToDeliveryResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductsBySupplier">
      <wsdl:input name="getProductsBySupplier" message="tns:getProductsBySupplier">
    </wsdl:input>
      <wsdl:output name="getProductsBySupplierResponse" message="tns:getProductsBySupplierResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateStore">
      <wsdl:input name="updateStore" message="tns:updateStore">
    </wsdl:input>
      <wsdl:output name="updateStoreResponse" message="tns:updateStoreResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <wsdl:input name="getAllProducts" message="tns:getAllProducts">
    </wsdl:input>
      <wsdl:output name="getAllProductsResponse" message="tns:getAllProductsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPlant">
      <wsdl:input name="createPlant" message="tns:createPlant">
    </wsdl:input>
      <wsdl:output name="createPlantResponse" message="tns:createPlantResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryEnterpriseByName">
      <wsdl:input name="queryEnterpriseByName" message="tns:queryEnterpriseByName">
    </wsdl:input>
      <wsdl:output name="queryEnterpriseByNameResponse" message="tns:queryEnterpriseByNameResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="querySuppliers">
      <wsdl:input name="querySuppliers" message="tns:querySuppliers">
    </wsdl:input>
      <wsdl:output name="querySuppliersResponse" message="tns:querySuppliersResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitClassesByEnterpriseID">
      <wsdl:input name="queryProductionUnitClassesByEnterpriseID" message="tns:queryProductionUnitClassesByEnterpriseID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitClassesByEnterpriseIDResponse" message="tns:queryProductionUnitClassesByEnterpriseIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitOperationsByEnterpriseID">
      <wsdl:input name="queryProductionUnitOperationsByEnterpriseID" message="tns:queryProductionUnitOperationsByEnterpriseID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitOperationsByEnterpriseIDResponse" message="tns:queryProductionUnitOperationsByEnterpriseIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEnterpriseCustomProducts">
      <wsdl:input name="getAllEnterpriseCustomProducts" message="tns:getAllEnterpriseCustomProducts">
    </wsdl:input>
      <wsdl:output name="getAllEnterpriseCustomProductsResponse" message="tns:getAllEnterpriseCustomProductsResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductByBarcode">
      <wsdl:input name="getProductByBarcode" message="tns:getProductByBarcode">
    </wsdl:input>
      <wsdl:output name="getProductByBarcodeResponse" message="tns:getProductByBarcodeResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCustomProduct">
      <wsdl:input name="updateCustomProduct" message="tns:updateCustomProduct">
    </wsdl:input>
      <wsdl:output name="updateCustomProductResponse" message="tns:updateCustomProductResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryPlantByName">
      <wsdl:input name="queryPlantByName" message="tns:queryPlantByName">
    </wsdl:input>
      <wsdl:output name="queryPlantByNameResponse" message="tns:queryPlantByNameResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnitClass">
      <wsdl:input name="createProductionUnitClass" message="tns:createProductionUnitClass">
    </wsdl:input>
      <wsdl:output name="createProductionUnitClassResponse" message="tns:createProductionUnitClassResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProduct">
      <wsdl:input name="createProduct" message="tns:createProduct">
    </wsdl:input>
      <wsdl:output name="createProductResponse" message="tns:createProductResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteEnterprise">
      <wsdl:input name="deleteEnterprise" message="tns:deleteEnterprise">
    </wsdl:input>
      <wsdl:output name="deleteEnterpriseResponse" message="tns:deleteEnterpriseResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
      <wsdl:fault name="IOException" message="tns:IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnitOperation">
      <wsdl:input name="deleteProductionUnitOperation" message="tns:deleteProductionUnitOperation">
    </wsdl:input>
      <wsdl:output name="deleteProductionUnitOperationResponse" message="tns:deleteProductionUnitOperationResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
      <wsdl:fault name="IOException" message="tns:IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createStore">
      <wsdl:input name="createStore" message="tns:createStore">
    </wsdl:input>
      <wsdl:output name="createStoreResponse" message="tns:createStoreResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductByID">
      <wsdl:input name="getProductByID" message="tns:getProductByID">
    </wsdl:input>
      <wsdl:output name="getProductByIDResponse" message="tns:getProductByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitClassByID">
      <wsdl:input name="queryProductionUnitClassByID" message="tns:queryProductionUnitClassByID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitClassByIDResponse" message="tns:queryProductionUnitClassByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnterprises">
      <wsdl:input name="getEnterprises" message="tns:getEnterprises">
    </wsdl:input>
      <wsdl:output name="getEnterprisesResponse" message="tns:getEnterprisesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitOperationByID">
      <wsdl:input name="queryProductionUnitOperationByID" message="tns:queryProductionUnitOperationByID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitOperationByIDResponse" message="tns:queryProductionUnitOperationByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IEnterpriseManagerServiceSoapBinding" type="tns:IEnterpriseManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryPlantByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryPlantByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryPlantByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupplierByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSupplierByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSupplierByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryStoresByEnterpriseID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryStoresByEnterpriseID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryStoresByEnterpriseIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnitClass">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteProductionUnitClass">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductionUnitClassResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryEnterpriseById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryEnterpriseById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryEnterpriseByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updatePlant">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePlant">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePlantResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnitClass">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProductionUnitClass">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductionUnitClassResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryStoreByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryStoreByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryStoreByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="querySupplierForProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="querySupplierForProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="querySupplierForProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCustomProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createCustomProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createCustomProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryPlantsByEnterpriseID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryPlantsByEnterpriseID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryPlantsByEnterpriseIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryStoreByEnterpriseID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryStoreByEnterpriseID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryStoreByEnterpriseIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCustomProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteCustomProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteCustomProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnitOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createProductionUnitOperation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProductionUnitOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnitOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProductionUnitOperation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductionUnitOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllCustomProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllCustomProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCustomProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEnterprise">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createEnterprise">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEnterpriseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePlant">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePlant">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePlantResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEnterpriseProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllEnterpriseProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllEnterpriseProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMeanTimeToDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMeanTimeToDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMeanTimeToDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductsBySupplier">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductsBySupplier">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsBySupplierResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateStore">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateStore">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateStoreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPlant">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPlant">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPlantResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryEnterpriseByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryEnterpriseByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryEnterpriseByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="querySuppliers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="querySuppliers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="querySuppliersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitClassesByEnterpriseID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitClassesByEnterpriseID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitClassesByEnterpriseIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitOperationsByEnterpriseID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitOperationsByEnterpriseID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitOperationsByEnterpriseIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllEnterpriseCustomProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllEnterpriseCustomProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllEnterpriseCustomProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductByBarcode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductByBarcode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductByBarcodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCustomProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateCustomProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCustomProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryPlantByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryPlantByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryPlantByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnitClass">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createProductionUnitClass">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProductionUnitClassResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteEnterprise">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteEnterprise">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEnterpriseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnitOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteProductionUnitOperation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductionUnitOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createStore">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createStore">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createStoreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitClassByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitClassByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitClassByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnterprises">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEnterprises">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEnterprisesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitOperationByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitOperationByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitOperationByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IEnterpriseManagerService">
    <wsdl:port name="IEnterpriseManagerPort" binding="tns:IEnterpriseManagerServiceSoapBinding">
      <soap:address location="http://localhost:9090/IEnterpriseManagerPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
