cocome-maven-project/cloud-logic-service/cloud-logic-core-services/src/main/resources/wsdl/IPlantManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IPlantManagerService" targetNamespace="http://plant.webservice.logic.cocome.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://plant.webservice.logic.cocome.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://plant.webservice.logic.cocome.org/" schemaLocation="IPlantManager_schema4.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="queryProductionUnitOperationsByProductionUnitClassID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitOperationsByProductionUnitClassID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateConditionalExpressionResponse">
    <wsdl:part name="parameters" element="tns:updateConditionalExpressionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlantOperationOrderByIdResponse">
    <wsdl:part name="parameters" element="tns:queryPlantOperationOrderByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateConditionalExpression">
    <wsdl:part name="parameters" element="tns:updateConditionalExpression">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitClassesByPlantIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitClassesByPlantIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryConditionalExpressionByID">
    <wsdl:part name="parameters" element="tns:queryConditionalExpressionByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitClassResponse">
    <wsdl:part name="parameters" element="tns:updateProductionUnitClassResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitClass">
    <wsdl:part name="parameters" element="tns:createProductionUnitClass">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnit">
    <wsdl:part name="parameters" element="tns:deleteProductionUnit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitClassesByPlantID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitClassesByPlantID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnit">
    <wsdl:part name="parameters" element="tns:updateProductionUnit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitOperationResponse">
    <wsdl:part name="parameters" element="tns:updateProductionUnitOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPlantOperationOrderById">
    <wsdl:part name="parameters" element="tns:queryPlantOperationOrderById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitResponse">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitClassByID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitClassByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitOperation">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitOperationResponse">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitOperationByID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitOperationByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnit">
    <wsdl:part name="parameters" element="tns:createProductionUnit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitByIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteConditionalExpressionResponse">
    <wsdl:part name="parameters" element="tns:deleteConditionalExpressionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryConditionalExpressionByIDResponse">
    <wsdl:part name="parameters" element="tns:queryConditionalExpressionByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitResponse">
    <wsdl:part name="parameters" element="tns:updateProductionUnitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateException">
    <wsdl:part name="CreateException" element="tns:CreateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitResponse">
    <wsdl:part name="parameters" element="tns:createProductionUnitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateException">
    <wsdl:part name="UpdateException" element="tns:UpdateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderOperation">
    <wsdl:part name="parameters" element="tns:orderOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createConditionalExpression">
    <wsdl:part name="parameters" element="tns:createConditionalExpression">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitClass">
    <wsdl:part name="parameters" element="tns:updateProductionUnitClass">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitClass">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitClass">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createConditionalExpressionResponse">
    <wsdl:part name="parameters" element="tns:createConditionalExpressionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitOperationResponse">
    <wsdl:part name="parameters" element="tns:createProductionUnitOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductionUnitOperation">
    <wsdl:part name="parameters" element="tns:updateProductionUnitOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderOperationResponse">
    <wsdl:part name="parameters" element="tns:orderOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitClassByIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitClassByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitOperationByIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitOperationByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductionUnitClassResponse">
    <wsdl:part name="parameters" element="tns:deleteProductionUnitClassResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitOperation">
    <wsdl:part name="parameters" element="tns:createProductionUnitOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitByID">
    <wsdl:part name="parameters" element="tns:queryProductionUnitByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryProductionUnitOperationsByProductionUnitClassIDResponse">
    <wsdl:part name="parameters" element="tns:queryProductionUnitOperationsByProductionUnitClassIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotInDatabaseException">
    <wsdl:part name="NotInDatabaseException" element="tns:NotInDatabaseException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductionUnitClassResponse">
    <wsdl:part name="parameters" element="tns:createProductionUnitClassResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteConditionalExpression">
    <wsdl:part name="parameters" element="tns:deleteConditionalExpression">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IPlantManager">
    <wsdl:operation name="queryProductionUnitOperationsByProductionUnitClassID">
      <wsdl:input name="queryProductionUnitOperationsByProductionUnitClassID" message="tns:queryProductionUnitOperationsByProductionUnitClassID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitOperationsByProductionUnitClassIDResponse" message="tns:queryProductionUnitOperationsByProductionUnitClassIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnit">
      <wsdl:input name="createProductionUnit" message="tns:createProductionUnit">
    </wsdl:input>
      <wsdl:output name="createProductionUnitResponse" message="tns:createProductionUnitResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateConditionalExpression">
      <wsdl:input name="updateConditionalExpression" message="tns:updateConditionalExpression">
    </wsdl:input>
      <wsdl:output name="updateConditionalExpressionResponse" message="tns:updateConditionalExpressionResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="orderOperation">
      <wsdl:input name="orderOperation" message="tns:orderOperation">
    </wsdl:input>
      <wsdl:output name="orderOperationResponse" message="tns:orderOperationResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryConditionalExpressionByID">
      <wsdl:input name="queryConditionalExpressionByID" message="tns:queryConditionalExpressionByID">
    </wsdl:input>
      <wsdl:output name="queryConditionalExpressionByIDResponse" message="tns:queryConditionalExpressionByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createConditionalExpression">
      <wsdl:input name="createConditionalExpression" message="tns:createConditionalExpression">
    </wsdl:input>
      <wsdl:output name="createConditionalExpressionResponse" message="tns:createConditionalExpressionResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnitClass">
      <wsdl:input name="updateProductionUnitClass" message="tns:updateProductionUnitClass">
    </wsdl:input>
      <wsdl:output name="updateProductionUnitClassResponse" message="tns:updateProductionUnitClassResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnitClass">
      <wsdl:input name="deleteProductionUnitClass" message="tns:deleteProductionUnitClass">
    </wsdl:input>
      <wsdl:output name="deleteProductionUnitClassResponse" message="tns:deleteProductionUnitClassResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnitClass">
      <wsdl:input name="createProductionUnitClass" message="tns:createProductionUnitClass">
    </wsdl:input>
      <wsdl:output name="createProductionUnitClassResponse" message="tns:createProductionUnitClassResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnit">
      <wsdl:input name="deleteProductionUnit" message="tns:deleteProductionUnit">
    </wsdl:input>
      <wsdl:output name="deleteProductionUnitResponse" message="tns:deleteProductionUnitResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitClassesByPlantID">
      <wsdl:input name="queryProductionUnitClassesByPlantID" message="tns:queryProductionUnitClassesByPlantID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitClassesByPlantIDResponse" message="tns:queryProductionUnitClassesByPlantIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnit">
      <wsdl:input name="updateProductionUnit" message="tns:updateProductionUnit">
    </wsdl:input>
      <wsdl:output name="updateProductionUnitResponse" message="tns:updateProductionUnitResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryPlantOperationOrderById">
      <wsdl:input name="queryPlantOperationOrderById" message="tns:queryPlantOperationOrderById">
    </wsdl:input>
      <wsdl:output name="queryPlantOperationOrderByIdResponse" message="tns:queryPlantOperationOrderByIdResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnitOperation">
      <wsdl:input name="updateProductionUnitOperation" message="tns:updateProductionUnitOperation">
    </wsdl:input>
      <wsdl:output name="updateProductionUnitOperationResponse" message="tns:updateProductionUnitOperationResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitClassByID">
      <wsdl:input name="queryProductionUnitClassByID" message="tns:queryProductionUnitClassByID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitClassByIDResponse" message="tns:queryProductionUnitClassByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnitOperation">
      <wsdl:input name="createProductionUnitOperation" message="tns:createProductionUnitOperation">
    </wsdl:input>
      <wsdl:output name="createProductionUnitOperationResponse" message="tns:createProductionUnitOperationResponse">
    </wsdl:output>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnitOperation">
      <wsdl:input name="deleteProductionUnitOperation" message="tns:deleteProductionUnitOperation">
    </wsdl:input>
      <wsdl:output name="deleteProductionUnitOperationResponse" message="tns:deleteProductionUnitOperationResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitByID">
      <wsdl:input name="queryProductionUnitByID" message="tns:queryProductionUnitByID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitByIDResponse" message="tns:queryProductionUnitByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitOperationByID">
      <wsdl:input name="queryProductionUnitOperationByID" message="tns:queryProductionUnitOperationByID">
    </wsdl:input>
      <wsdl:output name="queryProductionUnitOperationByIDResponse" message="tns:queryProductionUnitOperationByIDResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteConditionalExpression">
      <wsdl:input name="deleteConditionalExpression" message="tns:deleteConditionalExpression">
    </wsdl:input>
      <wsdl:output name="deleteConditionalExpressionResponse" message="tns:deleteConditionalExpressionResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IPlantManagerServiceSoapBinding" type="tns:IPlantManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryProductionUnitOperationsByProductionUnitClassID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitOperationsByProductionUnitClassID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitOperationsByProductionUnitClassIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createProductionUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProductionUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateConditionalExpression">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateConditionalExpression">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateConditionalExpressionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="orderOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderOperation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryConditionalExpressionByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryConditionalExpressionByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryConditionalExpressionByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createConditionalExpression">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createConditionalExpression">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createConditionalExpressionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnitClass">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProductionUnitClass">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductionUnitClassResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnitClass">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteProductionUnitClass">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductionUnitClassResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnitClass">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createProductionUnitClass">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProductionUnitClassResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteProductionUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductionUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitClassesByPlantID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitClassesByPlantID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitClassesByPlantIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProductionUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductionUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryPlantOperationOrderById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryPlantOperationOrderById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryPlantOperationOrderByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProductionUnitOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProductionUnitOperation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductionUnitOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitClassByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitClassByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitClassByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createProductionUnitOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createProductionUnitOperation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProductionUnitOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProductionUnitOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteProductionUnitOperation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductionUnitOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryProductionUnitOperationByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryProductionUnitOperationByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryProductionUnitOperationByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteConditionalExpression">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteConditionalExpression">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteConditionalExpressionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IPlantManagerService">
    <wsdl:port name="IPlantManagerPort" binding="tns:IPlantManagerServiceSoapBinding">
      <soap:address location="http://localhost:9090/IPlantManagerPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
