cocome-maven-project/cloud-logic-service/cloud-logic-core-services/src/main/resources/wsdl/IPlantManager_schema4.xsd

<xs:schema xmlns:ns1="http://productionunit.plant.application.inventory.tradingsystem.cocome.org" xmlns:ns2="http://plant.application.inventory.tradingsystem.cocome.org/" xmlns:ns3="http://store.application.inventory.tradingsystem.cocome.org/" xmlns:ns4="http://recipe.plant.application.inventory.tradingsystem.cocome.org" xmlns:ns5="http://expression.plant.application.inventory.tradingsystem.cocome.org" xmlns:ns6="http://parameter.plant.application.inventory.tradingsystem.cocome.org" xmlns:tns="http://plant.webservice.logic.cocome.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://plant.webservice.logic.cocome.org/">
  <xs:import namespace="http://productionunit.plant.application.inventory.tradingsystem.cocome.org" schemaLocation="IPlantManager_schema3.xsd"/>
  <xs:import namespace="http://plant.application.inventory.tradingsystem.cocome.org/" schemaLocation="IPlantManager_schema5.xsd"/>
  <xs:import namespace="http://store.application.inventory.tradingsystem.cocome.org/" schemaLocation="IPlantManager_schema1.xsd"/>
  <xs:import namespace="http://recipe.plant.application.inventory.tradingsystem.cocome.org" schemaLocation="IPlantManager_schema2.xsd"/>
  <xs:import namespace="http://expression.plant.application.inventory.tradingsystem.cocome.org" schemaLocation="IPlantManager_schema7.xsd"/>
  <xs:import namespace="http://parameter.plant.application.inventory.tradingsystem.cocome.org" schemaLocation="IPlantManager_schema6.xsd"/>
  <xs:element name="BooleanPlantOperationParameterTO" type="ns6:BooleanPlantOperationParameterTO"/>
  <xs:element name="ConditionalExpressionInfo" type="ns5:ConditionalExpressionInfo"/>
  <xs:element name="EnterpriseTO" type="ns3:EnterpriseTO"/>
  <xs:element name="EntryPointTO" type="ns4:EntryPointTO"/>
  <xs:element name="ExpressionInfo" type="ns5:ExpressionInfo"/>
  <xs:element name="MarkupInfo" type="ns5:MarkupInfo"/>
  <xs:element name="NorminalPlantOperationParameterTO" type="ns6:NorminalPlantOperationParameterTO"/>
  <xs:element name="PUOperationInfo" type="ns5:PUOperationInfo"/>
  <xs:element name="PlantOperationOrderEntryTO" type="ns4:PlantOperationOrderEntryTO"/>
  <xs:element name="PlantOperationOrderTO" type="ns4:PlantOperationOrderTO"/>
  <xs:element name="PlantOperationParameterTO" type="ns6:PlantOperationParameterTO"/>
  <xs:element name="PlantOperationParameterValueTO" type="ns4:PlantOperationParameterValueTO"/>
  <xs:element name="PlantOperationTO" type="ns4:PlantOperationTO"/>
  <xs:element name="PlantTO" type="ns2:PlantTO"/>
  <xs:element name="ProductionUnitClassTO" type="ns1:ProductionUnitClassTO"/>
  <xs:element name="ProductionUnitOperationTO" type="ns1:ProductionUnitOperationTO"/>
  <xs:element name="ProductionUnitTO" type="ns1:ProductionUnitTO"/>
  <xs:element name="RecipeOperationTO" type="ns4:RecipeOperationTO"/>
  <xs:element name="createProductionUnit" type="tns:createProductionUnit"/>
  <xs:element name="createProductionUnitClass" type="tns:createProductionUnitClass"/>
  <xs:element name="createProductionUnitClassResponse" type="tns:createProductionUnitClassResponse"/>
  <xs:element name="createProductionUnitOperation" type="tns:createProductionUnitOperation"/>
  <xs:element name="createProductionUnitOperationResponse" type="tns:createProductionUnitOperationResponse"/>
  <xs:element name="createProductionUnitResponse" type="tns:createProductionUnitResponse"/>
  <xs:element name="deleteProductionUnit" type="tns:deleteProductionUnit"/>
  <xs:element name="deleteProductionUnitClass" type="tns:deleteProductionUnitClass"/>
  <xs:element name="deleteProductionUnitClassResponse" type="tns:deleteProductionUnitClassResponse"/>
  <xs:element name="deleteProductionUnitOperation" type="tns:deleteProductionUnitOperation"/>
  <xs:element name="deleteProductionUnitOperationResponse" type="tns:deleteProductionUnitOperationResponse"/>
  <xs:element name="deleteProductionUnitResponse" type="tns:deleteProductionUnitResponse"/>
  <xs:element name="importProductionUnitClass" type="tns:importProductionUnitClass"/>
  <xs:element name="importProductionUnitClassResponse" type="tns:importProductionUnitClassResponse"/>
  <xs:element name="orderOperation" type="tns:orderOperation"/>
  <xs:element name="orderOperationResponse" type="tns:orderOperationResponse"/>
  <xs:element name="queryPlantOperationOrderById" type="tns:queryPlantOperationOrderById"/>
  <xs:element name="queryPlantOperationOrderByIdResponse" type="tns:queryPlantOperationOrderByIdResponse"/>
  <xs:element name="queryProductionUnitByID" type="tns:queryProductionUnitByID"/>
  <xs:element name="queryProductionUnitByIDResponse" type="tns:queryProductionUnitByIDResponse"/>
  <xs:element name="queryProductionUnitClassByID" type="tns:queryProductionUnitClassByID"/>
  <xs:element name="queryProductionUnitClassByIDResponse" type="tns:queryProductionUnitClassByIDResponse"/>
  <xs:element name="queryProductionUnitClassesByPlantID" type="tns:queryProductionUnitClassesByPlantID"/>
  <xs:element name="queryProductionUnitClassesByPlantIDResponse" type="tns:queryProductionUnitClassesByPlantIDResponse"/>
  <xs:element name="queryProductionUnitOperationByID" type="tns:queryProductionUnitOperationByID"/>
  <xs:element name="queryProductionUnitOperationByIDResponse" type="tns:queryProductionUnitOperationByIDResponse"/>
  <xs:element name="queryProductionUnitOperationsByProductionUnitClassID" type="tns:queryProductionUnitOperationsByProductionUnitClassID"/>
  <xs:element name="queryProductionUnitOperationsByProductionUnitClassIDResponse" type="tns:queryProductionUnitOperationsByProductionUnitClassIDResponse"/>
  <xs:element name="queryProductionUnitsByPlantID" type="tns:queryProductionUnitsByPlantID"/>
  <xs:element name="queryProductionUnitsByPlantIDResponse" type="tns:queryProductionUnitsByPlantIDResponse"/>
  <xs:element name="updateProductionUnit" type="tns:updateProductionUnit"/>
  <xs:element name="updateProductionUnitClass" type="tns:updateProductionUnitClass"/>
  <xs:element name="updateProductionUnitClassResponse" type="tns:updateProductionUnitClassResponse"/>
  <xs:element name="updateProductionUnitOperation" type="tns:updateProductionUnitOperation"/>
  <xs:element name="updateProductionUnitOperationResponse" type="tns:updateProductionUnitOperationResponse"/>
  <xs:element name="updateProductionUnitResponse" type="tns:updateProductionUnitResponse"/>
  <xs:complexType name="queryProductionUnitOperationsByProductionUnitClassID">
    <xs:sequence>
      <xs:element name="productionUnitClassID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitOperationsByProductionUnitClassIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:ProductionUnitOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProductionUnit">
    <xs:sequence>
      <xs:element name="productionUnitTO" type="ns1:ProductionUnitTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProductionUnitResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderOperation">
    <xs:sequence>
      <xs:element name="plantOperationOrderTO" type="ns4:PlantOperationOrderTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderOperationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="importProductionUnitClass">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="interfaceURL" type="xs:string"/>
      <xs:element name="plantTO" type="ns2:PlantTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="importProductionUnitClassResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductionUnitClass">
    <xs:sequence>
      <xs:element name="productionUnitClassTO" type="ns1:ProductionUnitClassTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductionUnitClassResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="deleteProductionUnitClass">
    <xs:sequence>
      <xs:element name="productionUnitClassTO" type="ns1:ProductionUnitClassTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteProductionUnitClassResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createProductionUnitClass">
    <xs:sequence>
      <xs:element name="productionUnitClassTO" type="ns1:ProductionUnitClassTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProductionUnitClassResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteProductionUnit">
    <xs:sequence>
      <xs:element name="productionUnitTO" type="ns1:ProductionUnitTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteProductionUnitResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitClassesByPlantID">
    <xs:sequence>
      <xs:element name="plantID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitClassesByPlantIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:ProductionUnitClassTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductionUnit">
    <xs:sequence>
      <xs:element name="productionUnitTO" type="ns1:ProductionUnitTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductionUnitResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitsByPlantID">
    <xs:sequence>
      <xs:element name="plantID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitsByPlantIDResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:ProductionUnitTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantOperationOrderById">
    <xs:sequence>
      <xs:element name="plantOperationOrderID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlantOperationOrderByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:PlantOperationOrderTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductionUnitOperation">
    <xs:sequence>
      <xs:element name="productionUnitOperationTO" type="ns1:ProductionUnitOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductionUnitOperationResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitClassByID">
    <xs:sequence>
      <xs:element name="productionUnitClassID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitClassByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:ProductionUnitClassTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProductionUnitOperation">
    <xs:sequence>
      <xs:element name="productionUnitOperationTO" type="ns1:ProductionUnitOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createProductionUnitOperationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteProductionUnitOperation">
    <xs:sequence>
      <xs:element name="productionUnitOperationTO" type="ns1:ProductionUnitOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteProductionUnitOperationResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitByID">
    <xs:sequence>
      <xs:element name="productionUnitID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:ProductionUnitTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitOperationByID">
    <xs:sequence>
      <xs:element name="productionUnitOperationID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryProductionUnitOperationByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:ProductionUnitOperationTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotInDatabaseException" type="tns:NotInDatabaseException"/>
  <xs:complexType name="NotInDatabaseException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateException" type="tns:CreateException"/>
  <xs:complexType name="CreateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateException" type="tns:UpdateException"/>
  <xs:complexType name="UpdateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
