cocome-maven-project/cloud-logic-service/cloud-logic-core-services/src/main/resources/wsdl/IPlantManager_schema6.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://parameter.plant.application.inventory.tradingsystem.cocome.org" version="1.0">

  <xs:complexType name="PlantOperationParameterTO">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="category" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
