cocome-maven-project/cloud-logic-service/cloud-logic-core-services/src/main/resources/wsdl/IStoreManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IStoreManagerService" targetNamespace="http://store.webservice.logic.cocome.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://store.webservice.logic.cocome.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://store.webservice.logic.cocome.org/" schemaLocation="IStoreManager_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="changePrice">
    <wsdl:part name="parameters" element="tns:changePrice">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrder">
    <wsdl:part name="parameters" element="tns:getOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createItemResponse">
    <wsdl:part name="parameters" element="tns:createItemResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItem">
    <wsdl:part name="parameters" element="tns:deleteItem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderProductsResponse">
    <wsdl:part name="parameters" element="tns:orderProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="onProductionFinish">
    <wsdl:part name="parameters" element="tns:onProductionFinish">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="onProductionOrderEntryFinishResponse">
    <wsdl:part name="parameters" element="tns:onProductionOrderEntryFinishResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="markProductsUnavailableInStock">
    <wsdl:part name="parameters" element="tns:markProductsUnavailableInStock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="onProductionOrderFinish">
    <wsdl:part name="parameters" element="tns:onProductionOrderFinish">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductWithItemResponse">
    <wsdl:part name="parameters" element="tns:getProductWithItemResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItemResponse">
    <wsdl:part name="parameters" element="tns:deleteItemResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsWithOnDemandItemsResponse">
    <wsdl:part name="parameters" element="tns:getProductsWithOnDemandItemsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsWithLowStock">
    <wsdl:part name="parameters" element="tns:getProductsWithLowStock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createItem">
    <wsdl:part name="parameters" element="tns:createItem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllStoreProducts">
    <wsdl:part name="parameters" element="tns:getAllStoreProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStoreResponse">
    <wsdl:part name="parameters" element="tns:getStoreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rollInReceivedOrderResponse">
    <wsdl:part name="parameters" element="tns:rollInReceivedOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoSuchProductException">
    <wsdl:part name="NoSuchProductException" element="tns:NoSuchProductException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsWithStockItems">
    <wsdl:part name="parameters" element="tns:getProductsWithStockItems">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateItem">
    <wsdl:part name="parameters" element="tns:updateItem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderProducts">
    <wsdl:part name="parameters" element="tns:orderProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePriceResponse">
    <wsdl:part name="parameters" element="tns:changePriceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="onProductionOrderFinishResponse">
    <wsdl:part name="parameters" element="tns:onProductionOrderFinishResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsWithStockItemsResponse">
    <wsdl:part name="parameters" element="tns:getProductsWithStockItemsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOutstandingOrdersResponse">
    <wsdl:part name="parameters" element="tns:getOutstandingOrdersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsWithLowStockResponse">
    <wsdl:part name="parameters" element="tns:getProductsWithLowStockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsWithOnDemandItems">
    <wsdl:part name="parameters" element="tns:getProductsWithOnDemandItems">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="accountSaleResponse">
    <wsdl:part name="parameters" element="tns:accountSaleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidRollInRequestException">
    <wsdl:part name="InvalidRollInRequestException" element="tns:InvalidRollInRequestException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateItemResponse">
    <wsdl:part name="parameters" element="tns:updateItemResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateException">
    <wsdl:part name="CreateException" element="tns:CreateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderResponse">
    <wsdl:part name="parameters" element="tns:getOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateException">
    <wsdl:part name="UpdateException" element="tns:UpdateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOutstandingOrders">
    <wsdl:part name="parameters" element="tns:getOutstandingOrders">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="onProductionFinishResponse">
    <wsdl:part name="parameters" element="tns:onProductionFinishResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="markProductsUnavailableInStockResponse">
    <wsdl:part name="parameters" element="tns:markProductsUnavailableInStockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductWithItem">
    <wsdl:part name="parameters" element="tns:getProductWithItem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllStoreProductsResponse">
    <wsdl:part name="parameters" element="tns:getAllStoreProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rollInReceivedOrder">
    <wsdl:part name="parameters" element="tns:rollInReceivedOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStore">
    <wsdl:part name="parameters" element="tns:getStore">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductOutOfStockException">
    <wsdl:part name="ProductOutOfStockException" element="tns:ProductOutOfStockException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="onProductionOrderEntryFinish">
    <wsdl:part name="parameters" element="tns:onProductionOrderEntryFinish">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="accountSale">
    <wsdl:part name="parameters" element="tns:accountSale">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotInDatabaseException">
    <wsdl:part name="NotInDatabaseException" element="tns:NotInDatabaseException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IStoreManager">
    <wsdl:operation name="changePrice">
      <wsdl:input name="changePrice" message="tns:changePrice">
    </wsdl:input>
      <wsdl:output name="changePriceResponse" message="tns:changePriceResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <wsdl:input name="getOrder" message="tns:getOrder">
    </wsdl:input>
      <wsdl:output name="getOrderResponse" message="tns:getOrderResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <wsdl:input name="deleteItem" message="tns:deleteItem">
    </wsdl:input>
      <wsdl:output name="deleteItemResponse" message="tns:deleteItemResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="onProductionFinish">
      <wsdl:input name="onProductionFinish" message="tns:onProductionFinish">
    </wsdl:input>
      <wsdl:output name="onProductionFinishResponse" message="tns:onProductionFinishResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsWithOnDemandItems">
      <wsdl:input name="getProductsWithOnDemandItems" message="tns:getProductsWithOnDemandItems">
    </wsdl:input>
      <wsdl:output name="getProductsWithOnDemandItemsResponse" message="tns:getProductsWithOnDemandItemsResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="markProductsUnavailableInStock">
      <wsdl:input name="markProductsUnavailableInStock" message="tns:markProductsUnavailableInStock">
    </wsdl:input>
      <wsdl:output name="markProductsUnavailableInStockResponse" message="tns:markProductsUnavailableInStockResponse">
    </wsdl:output>
      <wsdl:fault name="ProductOutOfStockException" message="tns:ProductOutOfStockException">
    </wsdl:fault>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="onProductionOrderFinish">
      <wsdl:input name="onProductionOrderFinish" message="tns:onProductionOrderFinish">
    </wsdl:input>
      <wsdl:output name="onProductionOrderFinishResponse" message="tns:onProductionOrderFinishResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOutstandingOrders">
      <wsdl:input name="getOutstandingOrders" message="tns:getOutstandingOrders">
    </wsdl:input>
      <wsdl:output name="getOutstandingOrdersResponse" message="tns:getOutstandingOrdersResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductsWithLowStock">
      <wsdl:input name="getProductsWithLowStock" message="tns:getProductsWithLowStock">
    </wsdl:input>
      <wsdl:output name="getProductsWithLowStockResponse" message="tns:getProductsWithLowStockResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createItem">
      <wsdl:input name="createItem" message="tns:createItem">
    </wsdl:input>
      <wsdl:output name="createItemResponse" message="tns:createItemResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductWithItem">
      <wsdl:input name="getProductWithItem" message="tns:getProductWithItem">
    </wsdl:input>
      <wsdl:output name="getProductWithItemResponse" message="tns:getProductWithItemResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="NoSuchProductException" message="tns:NoSuchProductException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllStoreProducts">
      <wsdl:input name="getAllStoreProducts" message="tns:getAllStoreProducts">
    </wsdl:input>
      <wsdl:output name="getAllStoreProductsResponse" message="tns:getAllStoreProductsResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rollInReceivedOrder">
      <wsdl:input name="rollInReceivedOrder" message="tns:rollInReceivedOrder">
    </wsdl:input>
      <wsdl:output name="rollInReceivedOrderResponse" message="tns:rollInReceivedOrderResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
      <wsdl:fault name="InvalidRollInRequestException" message="tns:InvalidRollInRequestException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStore">
      <wsdl:input name="getStore" message="tns:getStore">
    </wsdl:input>
      <wsdl:output name="getStoreResponse" message="tns:getStoreResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="onProductionOrderEntryFinish">
      <wsdl:input name="onProductionOrderEntryFinish" message="tns:onProductionOrderEntryFinish">
    </wsdl:input>
      <wsdl:output name="onProductionOrderEntryFinishResponse" message="tns:onProductionOrderEntryFinishResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accountSale">
      <wsdl:input name="accountSale" message="tns:accountSale">
    </wsdl:input>
      <wsdl:output name="accountSaleResponse" message="tns:accountSaleResponse">
    </wsdl:output>
      <wsdl:fault name="ProductOutOfStockException" message="tns:ProductOutOfStockException">
    </wsdl:fault>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductsWithStockItems">
      <wsdl:input name="getProductsWithStockItems" message="tns:getProductsWithStockItems">
    </wsdl:input>
      <wsdl:output name="getProductsWithStockItemsResponse" message="tns:getProductsWithStockItemsResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdl:input name="updateItem" message="tns:updateItem">
    </wsdl:input>
      <wsdl:output name="updateItemResponse" message="tns:updateItemResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="orderProducts">
      <wsdl:input name="orderProducts" message="tns:orderProducts">
    </wsdl:input>
      <wsdl:output name="orderProductsResponse" message="tns:orderProductsResponse">
    </wsdl:output>
      <wsdl:fault name="NotInDatabaseException" message="tns:NotInDatabaseException">
    </wsdl:fault>
      <wsdl:fault name="UpdateException" message="tns:UpdateException">
    </wsdl:fault>
      <wsdl:fault name="CreateException" message="tns:CreateException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IStoreManagerServiceSoapBinding" type="tns:IStoreManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="changePrice">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="changePrice">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changePriceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="onProductionFinish">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="onProductionFinish">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="onProductionFinishResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsWithOnDemandItems">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductsWithOnDemandItems">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsWithOnDemandItemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="markProductsUnavailableInStock">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="markProductsUnavailableInStock">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="markProductsUnavailableInStockResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductOutOfStockException">
        <soap:fault name="ProductOutOfStockException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="onProductionOrderFinish">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="onProductionOrderFinish">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="onProductionOrderFinishResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOutstandingOrders">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOutstandingOrders">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOutstandingOrdersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductsWithLowStock">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductsWithLowStock">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsWithLowStockResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductWithItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductWithItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductWithItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchProductException">
        <soap:fault name="NoSuchProductException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllStoreProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllStoreProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllStoreProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rollInReceivedOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="rollInReceivedOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rollInReceivedOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRollInRequestException">
        <soap:fault name="InvalidRollInRequestException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStore">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStore">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStoreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="onProductionOrderEntryFinish">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="onProductionOrderEntryFinish">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="onProductionOrderEntryFinishResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accountSale">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="accountSale">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="accountSaleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProductOutOfStockException">
        <soap:fault name="ProductOutOfStockException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProductsWithStockItems">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductsWithStockItems">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsWithStockItemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="orderProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotInDatabaseException">
        <soap:fault name="NotInDatabaseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UpdateException">
        <soap:fault name="UpdateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IStoreManagerService">
    <wsdl:port name="IStoreManagerPort" binding="tns:IStoreManagerServiceSoapBinding">
      <soap:address location="http://localhost:9090/IStoreManagerPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
